@import "header.css"; 
@import "underlined-menu.css"; 
@import "buttons.css";
@import "inputs.css";
@import "currency.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic');

body {
    background-color: #1a1a1a; /* Цвет фона веб-страницы */
    display: grid;
    font-family: 'Open Sans';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none; 
} 

button:hover{
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 25px;
    display: flex;
   
}

logo-img{
    width: 32px; 
    height: 32px; 
}

.content {
    padding: 0 110px;
}