@import "header.css"; 
@import "underlined-menu.css"; 
@import "buttons.css";
@import "inputs.css";

body {
    background-color: #1a1a1a; /* Цвет фона веб-страницы */
    display: grid;
    font-family: Avenir;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none; 
} 

button:hover{
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 25px;
    display: flex;
   
}

logo-img{
    width: 32px; 
    height: 32px; 
}